@(accountDetailsForm: Form[forms.AccountDetailsEditForm.Data], user: models.User)(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Messages("account.details.edit.title"), Some(user)) {
    <script type="text/javascript" src="@routes.Assets.at("scripts/bithDatePicker.js")"></script>
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("account.details.edit.title")</h4>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            @accountDetailsForm.globalError.map { error =>
                <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @error.messages
                </div>
            }
            <div class="col-md-12">
                @helper.form(action = routes.UserAccountController.saveAccountDetails()) {
                    @helper.CSRF.formField
                    @b3.text(accountDetailsForm("username"), '_label -> Messages("username"), '_class -> "required")
                    @b3.text(accountDetailsForm("firstName"), '_label -> Messages("first.name"))
                    @b3.text(accountDetailsForm("lastName"), '_label -> Messages("last.name"))
                    @b3.radio(accountDetailsForm("gender"), Gender.getOptions map Function.tupled((value, labelMessageKey) => (value, Messages(labelMessageKey))),
                        '_label -> Messages("gender"))
                    @b3.text(accountDetailsForm("birthDate"), '_label -> Messages("birthDate"), 'placeholder -> Messages("date.format"), 'id -> "birthDate")
                    @b3.submit('class -> "btn btn-lg btn-primary btn-block"){ @Messages("save") }
                }
            </div>
        </div>
    </div>
}
