@import views.html.component.{addressInput, formGlobalErrorContainer}
@(addEventForm: Form[forms.AddEventForm.Data], disciplineOptions: Seq[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Messages("event.add.title"), Some(user)) {
    <script type="text/javascript" src="@routes.Assets.at("scripts/dateTimePicker.js")"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3_x20lhjKIv-yUmN37MhRING6u-_Cpvw&callback=initMap&libraries=places"></script>
    <script type="text/javascript" src="@routes.Assets.at("scripts/map.js")"></script>
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("event.add.title")</h4>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            @formGlobalErrorContainer(addEventForm)
            <div class="col-md-12">
                @helper.form(action = routes.EventController.saveNewEvent()) {
                    @helper.CSRF.formField
                    @b3.text(addEventForm("title"), '_label -> Messages("title"), '_class -> "required")
                    @b3.text(addEventForm("description"), '_label -> Messages("description"))
                    @b3.datetime(addEventForm("dateTime"), '_label -> Messages("date.time"), 'placeholder -> Messages("date.time.format"), '_class -> "required", 'required -> "true")
                    @b3.number(addEventForm("maxParticipants"), '_label -> Messages("max.participants"))
                    @b3.select(addEventForm("disciplineId"), disciplineOptions.map {case (id, nameKey) => (id, Messages(nameKey))},
                        '_label -> Messages("discipline"), '_class -> "required", 'required -> disciplineOptions.nonEmpty)
                    @b3.hidden("lng", addEventForm("lng").value, 'id -> "lng")
                    @b3.hidden("lat", addEventForm("lat").value, 'id -> "lat")
                    @addressInput(addEventForm("address"), "mapModal", '_label -> Messages("address"), '_class -> "required", 'id -> "addressAutocomplete")
                    @b3.submit('class -> "btn btn-lg btn-primary btn-block"){ @Messages("save") }
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="mapModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">@Messages("ok")</button>
                </div>
            </div>

        </div>
    </div>
}
