@(changePasswordForm: Form[forms.ChangePasswordForm.Data], user: models.User)(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Messages("change.password.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("change.password.title")</h4>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            @changePasswordForm.globalError.map { error =>
                <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @Messages(error.messages)
                </div>
            }
            <div class="col-md-12">
            @helper.form(action = routes.UserAccountController.changePassword()) {
                @helper.CSRF.formField
                @b3.hidden("userId", changePasswordForm("userId").value)
                @b3.password(changePasswordForm("oldPassword"), '_label -> Messages("password"), '_class -> "required")
                @b3.password(changePasswordForm("newPassword"), '_label -> Messages("password.new"), '_class -> "required")
                @b3.password(changePasswordForm("newPasswordRepeat"), '_label -> Messages("password.new.repeat"), '_class -> "required")
                @b3.submit('class -> "btn btn-lg btn-primary btn-block"){ @Messages("save") }
            }
            </div>
        </div>
    </div>
}