@import utils.DateTimeUtils.formatLocalDateTime
@import utils.ViewUtils
@import views.html.component.flashContainer
@(events: Seq[Event], user: User)(implicit request: RequestHeader, messages: Messages)

@main(Messages("events.list.title"), Some(user)) {

    <div>
        <div class="row">
            <h4 class="col-md-8">@Messages("events.list.title")</h4>
            <a class="btn btn-info col-md-offset-3 col-md-1" role="button" href="@routes.EventController.showAddEventPage()">@Messages("event.add.title")</a>
            <hr class="col-md-12" />
        </div>

        @flashContainer(ViewUtils.ErrorFlashKey)
        @flashContainer(ViewUtils.InfoFlashKey)

        @events.map { event =>
            <a class="col-md-3 thumbnail deco-none @{if(event.ownerId != user.userID) "not-active"}" href="@routes.EventController.showEventDetails(event.id)">
                <img src="@routes.Assets.at("/images/Basketball-Tryouts.jpg")" class="img-responsive">
                <div class="row text-center">
                    <h3>@event.title</h3>
                </div>
                <div class="row">
                    <span class="col-md-4">@Messages("description"):</span>
                    <span class="col-md-8">@event.description.getOrElse("")</span>
                </div>
                <div class="row">
                    <span class="col-md-4">@Messages("date.time"):</span>
                    <span class="col-md-8">@formatLocalDateTime(event.dateTime)</span>
                </div>
                <div class="row">
                    <span class="col-md-4">@Messages("owner"):</span>
                    <span class="col-md-8">@event.ownerUsername</span>
                </div>
            </a>
        }
    </div>

}