@import b3.vertical.fieldConstructor
@import utils.{DateTimeUtils, ViewUtils}
@import views.html.component.flashContainer
@(event: models.EventWithParticipants, user: models.User)(implicit request: RequestHeader, messages: Messages)

@main(Messages("event.details.title"), Some(user)) {
    <div class="row">
        <div class="col-md-2">
            <a href="@routes.EventController.showList(true)"><span class="glyphicon glyphicon-backward"></span> @Messages("back.to.list")</a>
        </div>
    </div>
    <div class="user col-md-6 col-md-offset-3">
        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@Messages("event.delete.title")</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Messages("event.delete.message", event.title)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">@Messages("no")</button>
                        @helper.form(routes.EventController.deleteEvent(event.id)) {
                            @helper.CSRF.formField
                            @b3.submit('class -> "btn btn-primary btn-block") { @Messages("yes") }
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row data">
            @flashContainer(ViewUtils.InfoFlashKey)
            <div class="col-md-12">
                <div class="row text-center">
                    <p class="col-md-6"><h2>@event.title</h2>
                </div>
                <hr class="col-md-12" />
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("description"):</strong></p>
                    <p class="col-md-6">@event.description</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("date.time"):</strong></p>
                    <p class="col-md-6">@DateTimeUtils.formatLocalDateTime(event.dateTime)</p>
                </div>
                @if(event.maxParticipants.isDefined) {
                    <div class="row">
                        <p class="col-md-6"><strong>@Messages("max.participants"):</strong></p>
                        <p class="col-md-6">@event.maxParticipants</p>
                    </div>
                }
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("owner"):</strong></p>
                    <p class="col-md-6">@event.ownerUsername</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("discipline"):</strong></p>
                    <p class="col-md-6">@Messages(event.disciplineNameKey)</p>
                </div>
                <div class="row col-md-12"></div>
                <div class="row">
                    <h4 class="text-center">@Messages("participants") @if(event.maxParticipants.isDefined) { (@event.participantsCount/@event.maxParticipants) }</h4>
                    <ul class="list-group list-unstyled table-bordered">
                        @event.participants.map { participant =>
                            <li class="list-group-item">
                                @if(event.presenceReported && participant.present.contains(true)) {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                                @if(event.isOwner(user)) {
                                    @participant.fullName.getOrElse(participant.username)
                                } else {
                                    @participant.username
                                }
                            </li>
                        }
                        @if(event.participants.isEmpty) {
                            <li class="list-group-item text-center">
                                @Messages("participants.empty")
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <hr class="col-md-12" />
            <div class="text-center">
                @if(event.ownerId == user.userID && !event.started) {
                    <a class="btn btn-info" role="button" href="@routes.EventController.showEditEventPage(event.id)">@Messages("event.edit.title")</a>
                    <a class="btn btn-info" role="button" data-toggle="modal" data-target="#deleteModal">@Messages("event.delete.title")</a>
                }
                @if(event.ownerId == user.userID && event.started && !event.presenceReported) {
                    <a class="btn btn-info" role="button" href="@routes.EventController.showPresenceReportPage(event.id)">@Messages("report.presence.title")</a>
                }
                @if(!event.isParticipant(user) && event.isNotFull && !event.started) {
                    @helper.form(routes.EventController.joinEvent(event.id), 'class -> "form-inline") {
                        @helper.CSRF.formField
                        <input type="submit" class="btn btn-info no-margin" value="@Messages("join")"/>
                    }
                }
                @if(event.isParticipant(user) && !event.started) {
                    @helper.form(routes.EventController.unjoinEvent(event.id), 'class -> "form-inline") {
                        @helper.CSRF.formField
                        <input type="submit" class="btn btn-info no-margin" value="@Messages("unjoin")"/>
                    }
                }
            </div>
        </div>
    </div>
}
