@import utils.ViewUtils
@import views.html.component.flashContainer
@(user: models.User)(implicit request: RequestHeader, messages: Messages)

@main(Messages("home.title"), Some(user)) {
    @flashContainer(ViewUtils.ErrorFlashKey)
    <div class="user col-md-6 col-md-offset-3">
        <div class="row text-center">
            <a class="btn btn-info" role="button" href="@routes.EventController.showList()">@Messages("events.look")</a>
        </div>
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("welcome.signed.in")</h4>
        </div>
    </div>
}
